/* common  */
/* Dùng chung */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* sát dòng và không thừa phần đệm ban đầu */
    /* giữ được kích thước ban đầu của hộp khi tăng phần padding và border lên và giảm content */
}

.clear{
    clear: both;
}

.white{
    color:white !important;
}

html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

.row-check{
    margin-left: -8px;
    margin-right: -8px;
}

.row{
    margin-left: 15%;
    margin-right: 15%;
}

.float{
    float:left;
}

.col{
    float:left;
    padding: 0 1%;
}

.full{
    width: 100%;
}

.three{
    width: calc(100% / 3);
}

.two{
    width: 50%;
}

.text-center{
    text-align: center!important;
}


/* Main */

#header{
    height: 42px;
    background-color: black;
    z-index: 1;
    position: fixed;
    top:0;
    left:0;
    right:0;

}

#nav>li{   
    padding: 12px 0px;
    position: relative;
    display: inline-block;
    /* hàng ngang dạng hộp */
}

#nav li:hover .subnav{
    display: block;
}

#nav .subnav{
    display: none;
    position: absolute;
    top: 100%;
    background-color: white;
    list-style-type: none;
    /* Bỏ các dấu chấm của ui li */
    box-shadow: 0 0 10px rgba(0,0,0, 0.5);
}


#nav>li>a{
    color: white;
}

#nav li a{
    text-decoration-line: none;
    /* Bỏ gạch chân dưới chữ */
    padding: 12px 17px;
}

#nav .subnav a{
    color: black;
    display: block;
    padding: 12px 12px;
}


#nav li:hover>a{
    text-transform: uppercase; 
    color: black;
    background-color: #ccc;
}

#nav .ti-angle-down{
    font-size: 16px;
}

#nav{
    display: inline-block;
}

#header .menu-mobile{
    display: none;
}

#header .menu-mobile,
#header .search{
    float: right;
}

.menu-mobile .ti-menu,
.search .ti-search{
    color: white;
    font-size: 20px;
    line-height: 42px; 
    /* Chiều cao giữa các dòng là 46px */
    padding: 0 15px;
}

.menu-mobile:hover{
    background-color: #ccc;
    cursor: pointer;
}

.menu-mobile .ti-menu:hover{
    color: black;
}


.search:hover{
    background-color: #f44336;
    cursor: pointer;
}


#theband{
    padding-bottom: 25px;
}

#slider{
    margin-top: 42px;
    padding-top: 45%;
    background: url(../img/slider1.jpg) top center / cover no-repeat ;
    position: relative;
}

#slider .header-content{
    color: white;
    position: absolute;
    bottom: 70px;
    width: 100%; 
    /* Cho text ở vị trí chính giữa box */
    text-align: center;
    /* Cho chữ ở vị trí chính giữa của nó */
    font-size: medium;
}

.header-content .text{
    margin: 25px;
    font-size: 24px;
}

.header-content .text2{
    font-size: 15px;
}

#content .content-section{
    width: 100%;
    text-align: center;
}

#content .section-heading{
    padding-top: 64px;
    font-size: 30px;
    letter-spacing: 4px;
}
#content .section-sub-heading{
    font-style: italic;
    opacity: 50%;
    font-size: 15px;
    margin-top: 15px;
}

#content .content-section .about-text
{
    font-size: 15px;
    text-align: justify;
    margin-top: 30px;
    margin-bottom: 30px;
}
/* member  */

.name-member{
    margin: 15px 0px;
}
.photto-member{
    width: 154px;
    border-radius: 5px;
}
.member-list{
    margin-top: 47px;
    margin-bottom: 64px;
}
/* tour  */

.tour{
    background-color: black;
    padding-bottom: 10%;
}

.tour ul{
    margin-top: 46px;
}

.tour  li{
    background-color: #fff;
    padding: 16px 8px;
    font-size: 20px;
    line-height: 1.5;
    border-bottom: 1px solid #ddd;
    color: #757575;
    list-style: none;
}

.tour-list li .sold{
    background-color: red;
    padding: 4px 8px;
    margin: 15px;
}

.tour-list li .so{
    color: white;
    background-color: black;
    border-radius: 100%;
    float: right;
    padding: 0 9px;
    margin-right: 30px;
}


/* ticket  */

.list-ticket{
    margin-top: 32px;
}

.content-ticket{
    background-color: white;
    padding: 20px 15px;
}

h3.header-t,p.time-t {
    padding-bottom: 20px;
}
p.time-t{
    color: #757575;
}
p.content-t{
    padding-bottom: 15px;
    line-height: 1.3;
}

button.buy{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 12px 15px;
    display: inline-block;
    margin: 15px 0;
    border-style: none;
    cursor: pointer;
}

button.buy:hover{
    color: black;
    background-color: gray;
}
img.place1{
    width: 100%;
    display: block;
}
img.place1:hover{
    opacity: 60%;
}

.check{
    margin-left: -1%;
    margin-right: -1% ;
}

/* modal  */
.modal{
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    background: rgba(0,0,0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;

    display: none;
}

.modal-back{
    background-color: white;
    min-width: 60%;
    height: 500px;
    align-items: center;
    justify-content: center;
    position: relative;
}


.modal-back .header-m{
    background-color: #009688;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-back .header-m {
    font-size: 30px;
}
.modal-back .header-m h2{
    margin: 0 15px;
}

.modal-back .modal-close{
    position: absolute;
    color: black;
    top:0;
    right : 0;
    padding: 15px;
    cursor: pointer;
    opacity: 0.8;
}

.modal-back .modal-close:hover{
    background-color: #f44336;
    opacity: 1;
}

.email-b{
    display: block;
    font-size: 20px;
    margin: 10px 0px;
}

.header-m{
    color: white;
}

#email,#pass{
    border: 1px solid #ccc;
    padding: 15px;
    width: 100%;
    margin-bottom: 10px;
}

.button-model{
    background-color: #009688;
    padding: 16px;
    width: 100%;
    font-size: 20px;
    color: white;
    border: 0;
    cursor: pointer;
}

.button-model:hover{
    color: black;
    background-color: #757575;
}



.foot-modal{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 15px;
}

.body-modal{
    padding:20px;
}

/* contact */
.ti-location-pin:before {
    content: "";
    padding-right: 20px;
}
.ti-mobile:before {
    content: "";
    padding-right: 20px;
}
.ti-comment-alt:before {
    content: "";
    padding-right: 20px;
}

.address{
    font-size: 17px;
    line-height: 1.3;
}

.name-contact{
    padding: 10px;
    width: 100%;
    margin-left: 10px;
    margin-bottom: 10px;
    float:right;
}

.contact .contact-body{
    padding: 46px 34px;
}

.contact-body .send{
    float:right;
    padding: 10px 20px;
    color: white;
    background-color: black;
    border: 0;
}

.contact-body .send:hover{
    color: black;
    background-color: #ccc;
    cursor: pointer;
    border-width: 0;
}

/* map  */
.map{
    width: 100%;
    margin-top: 100px;
}
/* footer  */

.icon-h{
    padding: 64px 16px;
    font-size: 18px;
}

.j{
    opacity: 0.7;
    color: black;
    cursor: pointer;
    letter-spacing: 3px;
}

i.j:hover {
    opacity: 1;
}

.footer-body{
    padding: 10px;
}













